In [ ]:

user_name = input("What is your name?")

print(user_name)

What is your name?Julia
Julia

In [ ]:
user_name = "Patryk"

print(user_name)

Patryk

In [6]:
user_age = input("How old are you?")

How old are you?23

In [7]:
user_age_integer = int(user_age)

In [8]:
type(user_age_integer)

int

In [9]:
user_age_float = float(user_age)

In [10]:
type(user_age_float)

float

In [11]:
user_age2 = input("How old are you?")

How old are you?19

In [16]:
user_age2.isdigit()

True

In [ ]:
user_age = "18 years old"

In [25]:
user_age = "ANIA"

In [15]:
CONDITIONALS

In [30]:
if user_age.isdigit():
  print("okay")
elif user_age.isupper():         #I can write as many elifs as I want
  print("user age is upper")
else:                            #printed only if none of the above is true
  print("not okay")

user age is upper

In [34]:
user_age3 = input("How old are you?")


if user_age3.isdigit():
  user_age3_integer = int(user_age3)
  print(user_age3_integer + 10)
else:
  print("invalid data")

How old are you?10
20

In [ ]:
Homework

In [89]:
number_1 = input()

number_1_int = int(number_1)

3

In [90]:
number_2 = input()

number_2_int = int(number_2)

6

In [97]:
operation = input()

*

In [98]:
if operation == '+':
  print(number_1_int + number_2_int)
elif operation == '-':
  print(number_1_int - number_2_int)
elif operation == '*':
  print(number_1_int * number_2_int)
elif operation == '/':
  print(number_1_int / number_2_int)
else:
  print ("Invalid input")

18

In [48]:
user_name = input("First name")

First nameJulia

In [51]:
user_last_name = input("Last name")

Last nameD

In [52]:
user_age = input("Age")

Age23

In [54]:
password = input("Password")

Passwordjeden

In [60]:
password2 = input("Repeat password")

Repeat passwordjeden

In [61]:
if password == password2:
  print("ok")
else:
  print("Passwords do not match.")

ok

In [100]:
user_phone_number = input("Phone number")

len(user_phone_number)

Phone number123456789

9

In [101]:
if user_phone_number.isdigit():
  print("ok")
else:
  print("Invalid phone number")

ok

In [102]:
if len(user_phone_number) == 9:
  print("ok")
else:
  print("Invalid phone number")

ok

In [103]:
print(user_name, user_last_name, user_age, password, user_phone_number)

Julia D 23 jeden 123456789